{% load mathfilters %}

<html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    
    <body>
    <h1>{{ qz.title }}: Results</h1>
    <h3>Total responses: {{ responses }}</h3>

    <h2>Multiple choice questions</h2>

    {% for qn in mc_qns %}
    <h3>{{ qn.text }}</h3>
        <ul>
        {% for ans in qn.answers %}
            <li>
            {% if ans.correct %}<strong>{%endif%}
            {{ans.text}} - {{ans.count}}
            ({{ans.count|div:responses|mul:100}} %)
            {% if ans.correct %}</strong>{%endif%}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    pie chart

    <h2>Short answer questions</h2>

    {% for qn in sa_qns %}
    <h3>{{ qn.text }}</h3>
        <ul>
        {% for answer in qn.answers %}
            <li>{{ answer }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    word cloud
    download all responses
    
    </body>
</html>
