{% load mathfilters %}

<html>
    <head>
        <title>Analysis - {{qz.title}} Quiz</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

            {% for qn in mc_qns %}
            {% with qn.answers as answers %}
                var data{{qn.qn_id}} = google.visualization.arrayToDataTable([
                ['Answers', 'Respondents'],
                {% for answer in answers %}
                ['{{answer.short_text}}', {{answer.count}}],
                {% endfor %}
                ]);
            {% endwith %}


            var chart{{qn.qn_id}} = new google.visualization.PieChart(document.getElementById('piechart{{qn.qn_id}}'));
            chart{{qn.qn_id}}.draw(data{{qn.qn_id}});

            {% endfor %}

            }
        </script>
    </head>
    
    <body>
    <h1>{{ qz.title }}: Results</h1>
    <h3>Total responses: {{ responses }}</h3>

    <h2>Multiple choice questions</h2>

    {% for qn in mc_qns %}
    <h3>{{ qn.text }}</h3>
        <ul>
        {% for ans in qn.answers %}
            <li>
            {% if ans.correct %}<strong>{%endif%}
            {{ans.text}} - {{ans.count}}
            ({{ans.count|div:responses|mul:100|floatformat:"0"}}%)
            {% if ans.correct %}</strong>{%endif%}</li>
        {% endfor %}
        </ul>

        <div id="piechart{{qn.qn_id}}" style="width: 900px; height:500px;">
        </div>
    {% endfor %}

    <h2>Short answer questions</h2>

    {% for qn in sa_qns %}
    <h3>{{ qn.text }}</h3>
        <p>A nice way to show this would be to make a word cloud of all the
           responses (to indicate what concepts students are thinking about,
           for example), and then the ability to download all the responses.
           But for now, here they are:</p>
        <ul>
        {% for answer in qn.answers %}
            <li>{{ answer }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    
    </body>
</html>
